@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Ubuntu", "Poppins", sans-serif;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-size: 1rem;
  /* overflow: hidden; */
}

header {
  display: flex;
  border-bottom: 2px solid #eee;
  height: 75px;
}

.logo {
  display: flex;
}

.logo img {
  height: 5rem;
  width: 5rem;
  align-items: center;
  margin-left: 2rem;
  z-index: 10;
}

.header-one {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.header-left {
  display: flex;
  flex-direction: row;
}

.header-left ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  padding-left: 1rem;
}

.header-left ul li {
  margin-left: 1.5rem;
  font-size: 1.2rem;
  font-weight: 500;
}

.header-left ul li:hover {
  cursor: pointer;
}

.header-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 2rem;
}

.header-right p {
  margin: 1rem;
  font-size: 1rem;
  font-weight: 500;
}

.header-right p:hover {
  cursor: pointer;
}

.header-two {
  height: 65px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-two p {
  font-size: 0.9rem;
  font-weight: 600;
  margin-left: 2rem;
}

.header-two p:hover {
  cursor: pointer;
}

.menu-toggle {
  display: none;
}

/* HEADEER RESPONSIVE */
@media screen and (max-width: 768px) {
  .header-left ul,
  .header-right {
    display: none;
  }

  .menu-toggle {
    display: flex;
    align-items: center;
    margin-left: 2rem;
    font-size: 1.25rem;
    font-weight: 500;
    gap: 0.5rem;
  }

  .menu-toggle p {
    z-index: 10;
  }

  .down-icon {
    display: inline-block;
    width: 10px;
    height: 16px;
    background-image: url(./images/down-icon.svg);
    background-size: contain;
    z-index: 10;
  }

  .up-icon {
    display: inline-block;
    width: 10px;
    height: 16px;
    background-image: url(./images/up-icon.svg);
    background-size: contain;
  }

  .menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    background: #f3f3f3;
    transition: top 0.3s ease-in-out;
    z-index: 1;
    padding: 4rem 0 1rem 2rem;
  }

  .menu p {
    margin-top: 1rem;
    color: #000;
    font-size: 1.25rem;
    font-weight: bold;
  }
}

/* HERO SECTION */
.hero-image {
  width: 100%;
  height: 510px;
  padding-left: 7rem;
  padding-right: 7rem;
  margin-bottom: 2rem;
  position: relative;
  object-fit: cover;
}

.hero-title {
  color: rgb(253, 89, 72);
  position: absolute;
  top: 65%;
  left: 50%;
  font-size: 7.5rem;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 768px) {
  .hero-image {
    padding: 1rem;
  }

  .hero-title {
    font-size: 4rem;
    font-weight: 500;
  }
}

/* TEXT CONTAINER */
.text-wrapper {
  width: 100%;
  margin-bottom: 8rem;
  margin-top: 5rem;
}

.text-container {
  margin: auto;
  width: 50%;
}

.text-container h3 {
  font-size: 1.5rem;
  line-height: 1.7;
  font-weight: 500;
  margin-bottom: 1rem;
  letter-spacing: 0.05rem;
}

.text-container h3 a {
  color: #0000ff;
  text-decoration: none;
}

.text-container p {
  font-size: 1.1rem;
  line-height: 1.7;
  font-weight: 100;
}

@media screen and (max-width: 768px) {
  .text-wrapper {
    margin-bottom: 1rem;
  }

  .text-container {
    width: 100%;
    padding: 1rem;
  }

  .text-container h3 {
    font-size: 1.1rem;
  }

  .text-container p {
    font-size: 1rem;
  }
}

/* IMAGE CONTAINER  1*/
.image-container {
  padding-top: 8vw;
  padding-bottom: 8vw;
  height: 58.3vw;
  position: relative;
}

.image-1 {
  background-image: url(./images/photo-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 41.66667vw;
  height: 41.66667vw;
  margin-left: 8.33333vw;
  position: absolute;
  z-index: 2;
  display: inline-block;
}

.color-box {
  background-color: #fbffa7;
  position: absolute;
  right: 0;
  top: 0;
  width: 58vw;
  height: 58vw;
  z-index: 1;
}

.image-2 {
  background-image: url(./images/photo-2.jpg);
  height: 25vw;
  width: 33.3vw;
  z-index: 2;
  position: absolute;
  right: 0;
  top: 28%;
  margin-right: 8.3vw;
  background-size: cover;
}
